MC-Server/bundler/*
MC-Server/world/*
MC-Server/world_nether/*
MC-Server/world_the_end/*
MC-Server/logs/*
MC-Server/plugins/LuckPerms/*

MC-Plugin-Source/ForgeFrontier/.idea
MC-Plugin-Source/ForgeFrontier/out
MC-Plugin-Source/ForgeFrontier/target
MC-Plugin-Source/ForgeFrontier/ForgeFrontier.iml
MC-Plugin-Source/.idea

.idea
.idea/runConfigurations
.idea/workspace