MC-Server/bundler/*
MC-Server/world/*
MC-Server/world_nether/*
MC-Server/world_the_end/*
MC-Server/bskyblock_world/*
MC-Server/bskyblock_world_nether/*
MC-Server/bskyblock_world_the_end/*
MC-Server/logs/*
MC-Server/plugins/Essentials/userdata/*
MC-Server/plugins/LuckPerms/*
MC-Server/plugins/BentoBox/database/*
MC-Server/plugins/BentoBox/database_backup/*
MC-Server/plugins/BentoBox/locales/*
MC-Server/server.properties
MC-Server/usercache.json

MC-Plugin-Source/ForgeFrontier/.idea
MC-Plugin-Source/ForgeFrontier/out
MC-Plugin-Source/ForgeFrontier/target
MC-Plugin-Source/ForgeFrontier/ForgeFrontier.iml
MC-Plugin-Source/.idea

.idea
.idea/runConfigurations.xml
.idea/workspace.xml
