MC-Server/bundler/*
MC-Server/world/*
MC-Server/world_nether/*
MC-Server/world_the_end/*
MC-Server/logs/*

MC-Plugin-Source/ForgeFrontier/.idea
MC-Plugin-Source/ForgeFrontier/out
MC-Plugin-Source/ForgeFrontier/target
./idea

